/*General Layout */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  
  background-image: url(chilly.png),
    url(sunny.png),
    url(cloudy.png),
    url(rainy.png);
  
  transition: background-size ease-out 500ms;
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 100%, 100% 100%, 100% 100%;
  font-size: 18px;
  font-family: sans-serif;
}

#top {
  flex: .5;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom {
  flex: 4;
  padding: 2%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 20px;
}


/*Weather Form*/
#weather-form {
  margin-top: 1%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-wrap: wrap;
}

#weather-form > * {
  font-size: inherit;
  flex: 0 1 auto;
  min-width: 0px;
  width: 250px;
  padding: 0.5%;
  background-color: rgba(255, 255, 255, 0.65);
  border: none;
  border-radius: 3px;
}

#weather-form button {
  background-color: rgba(199, 199, 199, 0.65);
}

#weather-form button:active, #weather-form button:focus {
  outline: 2px solid rgba(199, 199, 199, 0.65);
}

#weather-form input::placeholder {
  opacity: 1;
  color: rgb(80, 80, 80);
}

#weather-form input:focus, #weather-form select:focus {
  outline: 2px solid rgba(255, 255, 255, 0.65);
}

#weather-form select.invalid {
  color: rgb(80, 80, 80);
}

.form-messages {
  margin: 0;
  min-height: 18px;
  color: red;
  font-weight: bold;
  font-family: sans-serif;
  align-self: center;
}


/*Current Weather Data*/
.current-data {
  flex: 1 1 auto;
  /*must use vh here*/
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh; 
  width: 550px;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 7px;
  box-shadow: 0px 0px 15px 1px rgb(100, 100, 100);
  font-size: 25px;
}

.current-data > * {
  flex: 1;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  word-break:break-all;
}

.current-top {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 0;
}

.current-top-left {
  flex: 1;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5%;
}

.current-top-left p {
  margin: 2%;
  word-break: normal;
}
.current-img {
  /*images are injected with JS, but images 
  without a source have an ugly border
  in firefox*/
  flex: 1;
  width: 100%;
  opacity: 0;
}

.current-img[src] {
  opacity: 1;
}

.current-bottom {
  flex: 1 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3%;
}

.current-rain-snow, .current-windspeed{
  text-transform: none;
}
/*Forecast Weather Data*/
.forecast-data {
  flex: 1 1 auto;
  overflow: auto;
  padding: 5px;
  gap: 10px;

  display: flex;
  justify-content: center;
  align-items: space-between;
  flex-wrap: wrap;
  /*% not available here*/
  height: 85vh; 
  width: 550px;

}

.forecast {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  height: 32%;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 7px;
  box-shadow: 0px 0px 7px 1px rgb(100, 100, 100);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}



.forecast.seven {
  max-width: 33%;
}

.forecast-date {
  padding: 3%;
  font-size: 20px;
}

.forecast-temp {
  padding: 3%;
  display: flex;
  justify-content: space-between;
}

.forecast p {
  margin: 0;
}